doctype html
html.no-js(lang="zxx")
  head
    // Mobile Specific Meta
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    // Favicon
    link(rel="shortcut icon" href="img/favicon.ico")
    // Author Meta
    meta(name="author" content="colorlib")
    // Meta Description
    meta(name="description" content="")
    // Meta Keyword
    meta(name="keywords" content="")
    // meta character set
    meta(charset="UTF-8")
    // Site Title
    title Charles Uthulor | Software Engineer, Web Developer, Digital Marketer
    link(href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet")
    //
      CSS
      =============================================
    link(rel="stylesheet" href="css/linearicons.css")
    link(rel="stylesheet" href="css/font-awesome.min.css")
    link(rel="stylesheet" href="css/bootstrap.css")
    link(rel="stylesheet" href="css/magnific-popup.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css")
    link(rel="stylesheet" href="css/nice-select.css")
    link(rel="stylesheet" href="css/animate.min.css")
    link(rel="stylesheet" href="css/owl.carousel.css")
    link(rel="stylesheet" href="css/main.css")
  body
    header#header
      .container.main-menu
        .row.align-items-center.justify-content-between.d-flex
          #logo
            a(href="index.html")
              img(src="img/logo.png" alt="" title="")
          nav#nav-menu-container
            ul.nav-menu
              li
                a(href="/") Home
              li
                a(href="/about") About
              li
                a(href="/portfolio") Portfolio
              
    // #header
    // start banner Area
    section.banner-area
      .container
        .row.fullscreen.align-items-center.justify-content-between
          .col-lg-6.col-md-6.banner-left
            h6 Hi, It's me
            h1 Charles Uthulor
            p
              | I'm a Creative Web Developer whose greatest concern is your satistfction.
            a.primary-btn.text-uppercase(href="/about") More About Me
          .col-lg-6.col-md-6.banner-right.d-flex.align-self-end
            img.img-fluid(style="margin-top: 120px;" src="img/hero-img.jpg" alt="")
    // End banner Area
    // Start home-about Area
    section.home-about-area.pt-120(style="margin-top: 100px;")
      .container
        .row.align-items-center.justify-content-between
          .col-lg-6.col-md-6.home-about-left
            img.img-fluid(src="img/about-img.jpg" alt="")
          .col-lg-5.col-md-6.home-about-right
            
            h1.text-uppercase About Me
            h6 “There is only one corner of the universe you can be certain of improving, and that's your own self.” ― Aldous Huxley
            p
              | Well how do I start? Here goes nothing. I am a Fullstack Web Developer who possesses knowledge of front-end techniques as well as back-end structures. I spend most of my time writing codes to solve little problems and add new features to my already existing applications. I am a perfectionist so when my work is not perfect I know. This is the very reason why I spend most of my time reviewing my apps and looking for ways to optimize it. To me, I do not consider any of my apps to be complete. As far as I a concerned there is something somewhere that needs further optimization. Don't freak out, that's just my policy. Things can always be better than what they already are.
            a.primary-btn.text-uppercase(href="#") Read more
    // End home-about Area
    // Start services Area
    section.services-area.section-gap
      .container
        .row.d-flex.justify-content-center
          .menu-content.col-lg-7
            .title.text-center
              h1.mb-10 My Offered Services
              p
                | "Treat the customer like you would want to be treated. Period!” -Brad Schweig. 
        .row
          .col-lg-4.col-md-6
            .single-services
              span.lnr.lnr-laptop-phone
              a(href="#")
                h4 Front-end Web Development
              p
                | The sole purpose of Front-end Development is to provide an awesome User Experience with a nice User Interface. Personally, I hate bad UI... That's exactly why I wouldn't want you or your clients to experience the same because of me. 
          .col-lg-4.col-md-6
            .single-services
              span.lnr.lnr-cloud
              a(href="#")
                h4 Server-side Web Development
              p
                | The general architecture of a software is dependent on the server-side of that software. All of the application's data and functionality is built and managed on the server-side. Truth is, the UX is very much dependent on the server-side. It's a pain to click a button expecting to receive some response and nothing happens. I'm pretty confident that won't be the case with me.
          .col-lg-4.col-md-6
            .single-services
              span.lnr.lnr-laptop
              a(href="#")
                h4 FullStack Web Developement
              p
                | It's not rocket science. Combine Front-end and Server-side services, that's when you get FullStack Web Development. If you need such services, I'm your guy.
          .col-lg-4.col-md-6
            .single-services
              span.lnr.lnr-rocket
              a(href="#")
                h4 Digital Marketing
              p
                | As a Web Developer, I have noticed that when clients get their desired website, the next issue they face is marketing it to their desired audience. If they don't know how to do this then the website might just turn out to be useless. This is the reason I decided to go into Digital Marketing in order to serve my clients better.
    // End services Area
   
    
    // Start testimonial Area
    section.testimonial-area.section-gap
      .container
        .row.d-flex.justify-content-center
          .menu-content.pb-70.col-lg-8
            .title.text-center
              h1.mb-10 Client’s Feedback About Me
              p
                |  “The sole reason we are in business is to make life less difficult for our clients” -Matt Odgers
        .row
          .active-testimonial
            .single-testimonial.item.d-flex.flex-row
              .thumb
                img.img-fluid(src="img/elements/user1.png" alt="")
              .desc
                p
                  | Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills, the bigger the payoff you.
                h4 Harriet Maxwell
                p CEO at Google
            .single-testimonial.item.d-flex.flex-row
              .thumb
                img.img-fluid(src="img/elements/user2.png" alt="")
              .desc
                p
                  | A purpose is the eternal condition for success. Every former smoker can tell you just how hard it is to stop smoking cigarettes. However.
                h4 Carolyn Craig
                p CEO at Facebook
    // End testimonial Area
   
    // start footer Area
    footer.footer-area.section-gap
      .container
        .row
          .col-lg-5.col-md-6.col-sm-6
            .single-footer-widget
              p.footer-text
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                | Copyright ©
                script.
                  document.write(new Date().getFullYear());
                |  All rights reserved | 
                a(href="https://colorlib.com" target="_blank") Charles Uthulor
              
          .col-lg-2.col-md-6.col-sm-6.social-widget
            .single-footer-widget
              h4 Contact Me
              p Would you like to work with me? Contact me through any of the medium below... Hey, I prefer Linkedin
              .footer-social.d-flex.align-items-center
                a(href="#")
                  i.fa.fa-facebook
                a(href="#")
                  i.fa.fa-twitter
                a(href="#")
                  i.fa.fa-linkedin
                a(href="#")
                  i.fa.fa-instagram
    // End footer Area
    script(src="js/vendor/jquery-2.2.4.min.js")
    script(src="js/popper.min.js")
    script(src="js/vendor/bootstrap.min.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA")
    script(src="js/easing.min.js")
    script(src="js/hoverIntent.js")
    script(src="js/superfish.min.js")
    script(src="js/jquery.ajaxchimp.min.js")
    script(src="js/jquery.magnific-popup.min.js")
    script(src="js/jquery.tabs.min.js")
    script(src="js/jquery.nice-select.min.js")
    script(src="js/isotope.pkgd.min.js")
    script(src="js/waypoints.min.js")
    script(src="js/jquery.counterup.min.js")
    script(src="js/simple-skillbar.js")
    script(src="js/owl.carousel.min.js")
    script(src="js/mail-script.js")
    script(src="js/main.js")
