doctype html
html.no-js(lang="zxx")
  head
    // Mobile Specific Meta
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    // Favicon
    link(rel="shortcut icon" href="img/favicon.ico")
    // Author Meta
    meta(name="author" content="colorlib")
    // Meta Description
    meta(name="description" content="")
    // Meta Keyword
    meta(name="keywords" content="")
    // meta character set
    meta(charset="UTF-8")
    // Site Title
    title Charles Uthulor | Software Engineer, Web Developer, Digital Marketer
    link(href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet")
    //
      CSS
      =============================================
    link(rel="stylesheet" href="css/linearicons.css")
    link(rel="stylesheet" href="css/font-awesome.min.css")
    link(rel="stylesheet" href="css/bootstrap.css")
    link(rel="stylesheet" href="css/magnific-popup.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css")
    link(rel="stylesheet" href="css/nice-select.css")
    link(rel="stylesheet" href="css/animate.min.css")
    link(rel="stylesheet" href="css/owl.carousel.css")
    link(rel="stylesheet" href="css/main.css")
  body
    header#header
      .container.main-menu
        .row.align-items-center.justify-content-between.d-flex
          #logo
            a(href="/")
              img(src="img/logo.png" alt="" title="")
          nav#nav-menu-container
            ul.nav-menu
              li
                a(href="/") Home
              li
                a(href="/about") About
              li
                a(href="/portfolio") Portfolio
             
                  
            
          // #nav-menu-container
    // #header
    // start banner Area
    section.about-banner
      .container
        .row.d-flex.align-items-center.justify-content-center
          .about-content.col-lg-12
            h1.text-white
              | Charles' Portfolio
            p.text-white.link-nav
              a(href="/") Home 
              span.lnr.lnr-arrow-right
              a(href="/portfolio") Charles' Portfolio
    // End banner Area
    // Start portfolio-area Area
    section.home-about-area.section-gap
      .container
        .row.align-items-center.justify-content-between
          .col-lg-6.col-md-6.home-about-left
            img.img-fluid(src="img/voice.png" alt="The Voice Newspaper")
          .col-lg-5.col-md-6.home-about-right
            h3.text-uppercase The Voice Newspaper
            
            p
              | A Newspaper website owned by The Voice Newspaper in Abakaliki, Ebonyi, Nigeria
            p
              b(style = "text-transform : uppercase;") Status : 
              | Currently being Maintained and Updated 
            p
              b(style = "text-transform : uppercase;") Technologies used : 
              | WordPress, HTML, PHP, CSS, WP Plugins, WP Themes
            a.primary-btn.text-uppercase(href="https://voiceofreason.com.ng/") See Website

    section.home-about-area.section-gap
      .container
        .row.align-items-center.justify-content-between
          .col-lg-6.col-md-6.home-about-left
            img.img-fluid(src="img/chatify.png" alt="Chatify")
          .col-lg-5.col-md-6.home-about-right
            h3.text-uppercase Chatify
            
            p
              | A Chat Application.
            p
              b(style = "text-transform : uppercase;") Status : 
              | Still in progress
            p
              b(style = "text-transform : uppercase;") Technologies used : 
              | React, Redux, JSX, CSS, Node, Git
            a.primary-btn.text-uppercase(href="https://chatychatify.herokuapp.com/") See Website
            a(style = "margin : 20px;").primary-btn.text-uppercase(href ='https://github.com/charlesnnanna/chatify') Github Repo

    section.home-about-area.section-gap
      .container
        .row.align-items-center.justify-content-between
          .col-lg-6.col-md-6.home-about-left
            img.img-fluid(src="img/injustice.png" alt="Injustice")
          .col-lg-5.col-md-6.home-about-right
            h3.text-uppercase Injustice 2 
            
            p
              | An 
              a(href = 'https://www.injustice.com/') Injustice website
              |  clone.
            p
              b(style = "text-transform : uppercase;") Status : 
              | Still in progress
            p
              b(style = "text-transform : uppercase;") Technologies used : 
              | HTML, CSS, Sass, JavaScript, Bootstrap 4, Git
            a.primary-btn.text-uppercase(href="https://charlesnnanna.github.io/injustice/") See Website
            a(style = "margin : 20px;").primary-btn.text-uppercase(href ='https://github.com/charlesnnanna/injustice') Github Repo

    section.home-about-area.section-gap
      .container
        .row.align-items-center.justify-content-between
          .col-lg-6.col-md-6.home-about-left
            img.img-fluid(src="img/foodie.png" alt="Foodie")
          .col-lg-5.col-md-6.home-about-right
            h3.text-uppercase Foodie
            
            p
              | A web app where you can search for different food recipes.
            p
              b(style = "text-transform : uppercase;") Status : 
              | Still in progress
            p
              b(style = "text-transform : uppercase;") Technologies used : 
              | React, Node, React Hooks, External APIs
            a.primary-btn.text-uppercase(href="https://foodie-recipe.herokuapp.com/") See Website
            a(style = "margin : 20px;").primary-btn.text-uppercase(href ='https://github.com/charlesnnanna/foodie-recipe') Github Repo

    section.home-about-area.section-gap
      .container
        .row.align-items-center.justify-content-between
          .col-lg-6.col-md-6.home-about-left
            img.img-fluid(src="img/trackfit.png" alt="TrackFit")
          .col-lg-5.col-md-6.home-about-right
            h3.text-uppercase TrackFit 
            
            p
              | A web app where people can record and keep track of their exercise activities.
            p
              b(style = "text-transform : uppercase;") Status : 
              | Still in progress
            p
              b(style = "text-transform : uppercase;") Technologies used : 
              | Node, React, Redux, React Hooks
            a.primary-btn.text-uppercase(href="https://trackfitapp.herokuapp.com/") See Website
            a(style = "margin : 20px;").primary-btn.text-uppercase(href ='https://github.com/charlesnnanna/TrackFit') Github Repo

    section.home-about-area.section-gap
      .container
        .row.align-items-center.justify-content-between
          .col-lg-6.col-md-6.home-about-left
            img.img-fluid(src="img/flash.png" alt="FlashMail")
          .col-lg-5.col-md-6.home-about-right
            h3.text-uppercase FlashMail
            
            p
              | Flash is a web application that businesses use in creating and sending surveys to their customers via email. It also help businesses keep track of the survey data.
            p
              b(style = "text-transform : uppercase;") Status : 
              | Still in progress
            p
              b(style = "text-transform : uppercase;") Technologies used : 
              | Node, Express, PassportJS, Git, React, Redux
            a.primary-btn.text-uppercase(href="https://fathomless-spire-17661.herokuapp.com/") See Website
            a(style = "margin : 20px;").primary-btn.text-uppercase(href ='https://github.com/charlesnnanna/flash') Github Repo

    // End portfolio-area Area
    // start footer Area
    footer.footer-area.section-gap
      .container
        .row
          .col-lg-5.col-md-6.col-sm-6
            .single-footer-widget
              p.footer-text
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                | Copyright ©
                script.
                  document.write(new Date().getFullYear());
                |  All rights reserved |
                a(href="https://colorlib.com" target="_blank") Charles Uthulor
         
          .col-lg-2.col-md-6.col-sm-6.social-widget
            .single-footer-widget
              h4 Contact Me
              p Would you like to work with me? Contact me through any of the medium below... Hey, I prefer Linkedin
              .footer-social.d-flex.align-items-center
                a(href ="https://github.com/charlesnnanna")
                  i.fa.fa-github
                a(href="https://web.facebook.com/charles.uthulor")
                  i.fa.fa-facebook
                a(href="https://twitter.com/CUthulor")
                  i.fa.fa-twitter
                a(href="https://www.linkedin.com/in/charles-uthulor")
                  i.fa.fa-linkedin
                a(href="https://www.instagram.com/charlesuthulor")
                  i.fa.fa-instagram
    // End footer Area
    script(src="js/vendor/jquery-2.2.4.min.js")
    script(src="js/popper.min.js")
    script(src="js/vendor/bootstrap.min.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA")
    script(src="js/easing.min.js")
    script(src="js/hoverIntent.js")
    script(src="js/superfish.min.js")
    script(src="js/jquery.ajaxchimp.min.js")
    script(src="js/jquery.magnific-popup.min.js")
    script(src="js/jquery.tabs.min.js")
    script(src="js/jquery.nice-select.min.js")
    script(src="js/isotope.pkgd.min.js")
    script(src="js/waypoints.min.js")
    script(src="js/jquery.counterup.min.js")
    script(src="js/simple-skillbar.js")
    script(src="js/owl.carousel.min.js")
    script(src="js/mail-script.js")
    script(src="js/main.js")
