doctype html
html.no-js(lang="zxx")
  head
    // Mobile Specific Meta
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    // Favicon
    link(rel="shortcut icon" href="img/fav.png")
    // Author Meta
    meta(name="author" content="colorlib")
    // Meta Description
    meta(name="description" content="")
    // Meta Keyword
    meta(name="keywords" content="")
    // meta character set
    meta(charset="UTF-8")
    // Site Title
    title Personal
    link(href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet")
    //
      CSS
      =============================================
    link(rel="stylesheet" href="css/linearicons.css")
    link(rel="stylesheet" href="css/font-awesome.min.css")
    link(rel="stylesheet" href="css/bootstrap.css")
    link(rel="stylesheet" href="css/magnific-popup.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css")
    link(rel="stylesheet" href="css/nice-select.css")
    link(rel="stylesheet" href="css/animate.min.css")
    link(rel="stylesheet" href="css/owl.carousel.css")
    link(rel="stylesheet" href="css/main.css")
  body
    header#header
      .container.main-menu
        .row.align-items-center.justify-content-between.d-flex
          #logo
            a(href="index.html")
              img(src="img/logo.png" alt="" title="")
          nav#nav-menu-container
            ul.nav-menu
              li
                a(href="/") Home
              li
                a(href="/about") About
              li
                a(href="/portfolio") Portfolio
             
                  
            
          // #nav-menu-container
    // #header
    // start banner Area
    section.about-banner
      .container
        .row.d-flex.align-items-center.justify-content-center
          .about-content.col-lg-12
            h1.text-white
              | Charles' Portfolio
            p.text-white.link-nav
              a(href="index.html") Home 
              span.lnr.lnr-arrow-right
              a(href="/portfolio") Charles' Portfolio
    // End banner Area
    // Start portfolio-area Area
    section#portfolio.portfolio-area.section-gap
      .container
        .row.d-flex.justify-content-center
          .menu-content.pb-70.col-lg-8
            .title.text-center
              h1.mb-10 Our Latest Featured Projects
              p Who are in extremely love with eco friendly system.
        .filters
          ul
            li.active(data-filter="*") All
            li(data-filter=".vector") Vector
            li(data-filter=".raster") Raster
            li(data-filter=".ui") UI/UX
            li(data-filter=".printing") Printing
        .filters-content
          .row.grid
            .single-portfolio.col-sm-4.all.vector
              .relative
                .thumb
                  .overlay.overlay-bg
                  img.image.img-fluid(src="img/p1.jpg" alt="")
                a.img-pop-up(href="img/p1.jpg")
                  .middle
                    .text.align-self-center.d-flex
                      img(src="img/preview.png" alt="")
              .p-inner
                h4 2D Vinyl Design
                .cat vector
            .single-portfolio.col-sm-4.all.raster
              .relative
                .thumb
                  .overlay.overlay-bg
                  img.image.img-fluid(src="img/p2.jpg" alt="")
                a.img-pop-up(href="img/p2.jpg")
                  .middle
                    .text.align-self-center.d-flex
                      img(src="img/preview.png" alt="")
              .p-inner
                h4 2D Vinyl Design
                .cat vector
            .single-portfolio.col-sm-4.all.ui
              .relative
                .thumb
                  .overlay.overlay-bg
                  img.image.img-fluid(src="img/p3.jpg" alt="")
                a.img-pop-up(href="img/p3.jpg")
                  .middle
                    .text.align-self-center.d-flex
                      img(src="img/preview.png" alt="")
              .p-inner
                h4 Creative Poster Design
                .cat Agency
            .single-portfolio.col-sm-4.all.printing
              .relative
                .thumb
                  .overlay.overlay-bg
                  img.image.img-fluid(src="img/p4.jpg" alt="")
                a.img-pop-up(href="img/p4.jpg")
                  .middle
                    .text.align-self-center.d-flex
                      img(src="img/preview.png" alt="")
              .p-inner
                h4 Embosed Logo Design
                .cat Portal
            .single-portfolio.col-sm-4.all.vector
              .relative
                .thumb
                  .overlay.overlay-bg
                  img.image.img-fluid(src="img/p5.jpg" alt="")
                a.img-pop-up(href="img/p5.jpg")
                  .middle
                    .text.align-self-center.d-flex
                      img(src="img/preview.png" alt="")
              .p-inner
                h4 3D Helmet Design
                .cat vector
            .single-portfolio.col-sm-4.all.raster
              .relative
                .thumb
                  .overlay.overlay-bg
                  img.image.img-fluid(src="img/p6.jpg" alt="")
                a.img-pop-up(href="img/p6.jpg")
                  .middle
                    .text.align-self-center.d-flex
                      img(src="img/preview.png" alt="")
              .p-inner
                h4 2D Vinyl Design
                .cat raster
    // End portfolio-area Area
    // start footer Area
    footer.footer-area.section-gap
      .container
        .row
          .col-lg-5.col-md-6.col-sm-6
            .single-footer-widget
              h4 About Me
              p
                | We have tested a number of registry fix and clean utilities and present our top 3 list on our site for your convenience.
              p.footer-text
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                | Copyright ©
                script.
                  document.write(new Date().getFullYear());
                |  All rights reserved |
                a(href="https://colorlib.com" target="_blank") Charles Uthulor
         
          .col-lg-2.col-md-6.col-sm-6.social-widget
            .single-footer-widget
              h4 Follow Me
              p Let us be social
              .footer-social.d-flex.align-items-center
                a(href="#")
                  i.fa.fa-facebook
                a(href="#")
                  i.fa.fa-twitter
                a(href="#")
                  i.fa.fa-linkedin
                a(href="#")
                  i.fa.fa-instagram
    // End footer Area
    script(src="js/vendor/jquery-2.2.4.min.js")
    script(src="js/popper.min.js")
    script(src="js/vendor/bootstrap.min.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA")
    script(src="js/easing.min.js")
    script(src="js/hoverIntent.js")
    script(src="js/superfish.min.js")
    script(src="js/jquery.ajaxchimp.min.js")
    script(src="js/jquery.magnific-popup.min.js")
    script(src="js/jquery.tabs.min.js")
    script(src="js/jquery.nice-select.min.js")
    script(src="js/isotope.pkgd.min.js")
    script(src="js/waypoints.min.js")
    script(src="js/jquery.counterup.min.js")
    script(src="js/simple-skillbar.js")
    script(src="js/owl.carousel.min.js")
    script(src="js/mail-script.js")
    script(src="js/main.js")
